body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input {
    outline: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading1 {
        @apply text-primaryColor text-3xl font-bold;
    }
    .heading-info1 {
        @apply text-darkTextColor text-sm;
    }
    .btn1 {
        @apply px-7 py-4 bg-primaryColor text-contColor rounded-lg cursor-pointer hover:shadow-sm hover:bg-accentColor duration-100 ease-in-out transition-all disabled:opacity-10;
    }
    .error1 {
        @apply text-xs text-red-900;
    }
}
